/* ini  css */ 

body{
    background-color: rgba(28, 34, 197, 0.403);
}


h1{
    text-align: center


}
.arcticle-main{

}




form{
    padding: ;12px
    background-color: #5591ee;
    border
}


.main{
    display: flex;
}

.arcticle-after-form{
    display: flex;
}